[submodule "libs/lib-lnx"]
	path = libs/lib-lnx
	url = https://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@github.com/MogensWintherDK/lib-lnx.git
[submodule "libs/lib-cms"]
	path = libs/lib-cms
	url = https://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@github.com/MogensWintherDK/lib-cms.git
