[submodule "libs/lib-lnx"]
	path = libs/lib-lnx
	url = https://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@github.com/MogensWintherDK/lib-lnx.git
[submodule "libs/lib-cms"]
	path = libs/lib-cms
	url = https://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@github.com/MogensWintherDK/lib-cms.git